@import 'src/styles/variables.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto');

.Movie-Info-Box-Container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: white;

  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }

  h2 {
    margin: 0;
    color: linear-gradient(180deg, #311b92, #b388ff);
  }

  .Movie-Poster {
    width: 100px;
    min-width: 100px;
    min-height: 140px;
    height: auto;
    background-color: black;
  }

  .Movie-Info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .MovieRatingContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    width: 100%;

    p {
      font-size: 1.3em;
      font-family: 'Roboto', sans-serif;
      font-weight: 900;
      color: #1de9b6;
    }

    .MovieRatingBox {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .Movie-Score {
        margin: 0;
      }
    }
  }
}
