@import 'src/styles/variables.scss';
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

#MovieContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: scroll;
  max-width: 400px;
  height: 100%;
  padding: 0 10px;

  p {
    font-family: Roboto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
  }

  #MovieContainerSearch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 5px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: white;
    margin-bottom: 10px;
    animation: border-fade-in 1.9s;

    #MovieHeader {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-end;
      height: 100px;
      animation: fade-in 1.3s;

      img {
        width: auto;
        height: 60px;
      }
    }

    #MovieInputs {
      animation: fade-in-two 1.5s;
    }

    #MovieButton {
      cursor: pointer;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top: 16px;
      margin-bottom: 18px;
      width: 170px;
      height: 25px;
      border-radius: 4px;
      background-color: $INDIGO_BLUE;
      color: white;
      transition: all 0.7s ease 0s;
      animation: fade-in-two 1.7s;

      &:hover {
        background-color: $RASBERRY_RED;
      }

      p {
        color: white;
        font-family: sans-serif;
      }
    }
  }

  #MovieLoading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }

  #MovieInfoList {
  }
}

.react-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  55% {
    opacity: 1;
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fade-in-two {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes border-fade-in {
  0% {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: transparent;
  }
  66% {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: transparent;
  }
  100% {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: white;
  }
}
