#MovieContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: scroll;
  max-height: 400px;

  p {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
  }

  h2 {
    color: #00bcd4;
  }

  #MovieContainerHeader {
    color: #00bcd4;
  }

  #MovieContainerSearch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 204px;
    border-bottom-style: solid;
    border-color: #c9c9c9;
    border-width: 1px;

    #Movie-Button {
      cursor: pointer;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      width: 100px;
      height: 25px;
      background-color: #00bcd4;
      color: white;
      border-radius: 20px;
    }

    #Movie-Button:hover {
      background-color: rgba(0, 0, 0, 1);
    }
  }

  #Movie-Info-List {
    padding-top: 20px;
  }
}

.react-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
