#MovieContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  p {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
  }

  #MovieContainerHeader {
    color: #00bcd4;
  }

  #MovieContainerSearch {
    button {
      margin-top: 20px;
    }
  }

  .movie-fields {
    border-style: solid;
    border-color: red;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
  }
}

.react-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
