@import 'src/styles/variables.scss';

.Movie-Info-Box-Container {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0 3px 5px #888888;
  padding-top: 10px;
  height: 100%;

  h2 {
    margin: 0;
  }

  .Movie-Poster {
    width: 100px;
    min-width: 100px;
    min-height: 140px;
    height: auto;
    background-color: black;
  }

  .Movie-Info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .MovieRatingContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    width: 100%;

    .MovieRatingBox {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .Movie-Score {
        margin: 0;
      }
    }
  }
}
