@import 'src/styles/variables.scss';

#MovieContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: scroll;
  height: 400px;

  background: linear-gradient(135deg, $LAVENDER, white);
  p {
    font-family: Roboto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
  }

  #MovieContainerSearch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 211px;
    border-bottom-style: solid;
    border-color: $LIGHT_GRAY;
    border-width: 1px;
    padding: 15px 0;

    #MovieHeader {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-end;

      p {
        font-size: 2em;
        font-family: Lucida Console;
        color: $INDIGO_BLUE;
        margin: 10px 0;
        padding-left: 10px;
      }

      img {
        width: 75px;
        height: 75px;
      }
    }

    #MovieButton {
      cursor: pointer;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      width: 150px;
      height: 25px;
      border-radius: 4px;
      background-color: $INDIGO_BLUE;
      color: white;
      transition: all 0.7s ease 0s;

      &:hover {
        background-color: $RASBERRY_RED;
      }

      p {
        color: white;
        font-family: sans-serif;
      }
    }
  }

  #MovieLoading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }

  #MovieInfoList {
  }
}

.react-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
