.App {
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  border-style: solid;
  border-radius: 1px;
  border-width: 1px;

  /* Added body dimensions */
  height: 350px;
  width: 300px;
}
