.App {
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow-y: scroll;
  //background: linear-gradient(135deg, red, blue);

  p {
    font-family: sans-serif;
  }

  /* Added body dimensions */
}
