.App {
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow-y: scroll;
  min-height: 450px;
  max-height: 450px;
  background: linear-gradient(180deg, #651fff, #b388ff);

  p {
    font-family: sans-serif;
  }

  /* Added body dimensions */
}
